/*@import a Google Font here!*/

body {

}

#container {
	width: 30%;
	display: block;
	padding: 25px;
	margin: 50px 30%;
	border-radius: 25px;
	background-color: black;
}

.bg { z-index: -1 }

.fg { z-index: 100 }

.dashed {

}

.left-container, .right-container {

}

h1 {
	font-family: 'Rye', cursive;
	font-size: 60px;
}

h3 {
	font-family:  'Rye'm cursive;
	font-size: 42px;
	color: white;
	padding:0;
	margin: 0;
}

li {
	font-family: tahoma;
	font-size: 20px;
	font-style: bold;
	color: #ffaaaa;
	padding-left: 20px;
}